{% form_theme form with ['inc/fields.html.twig', 'bootstrap_4_layout.html.twig'] %}

{{ form_start(form) }}
{{ form_row(form.questionText) }}

<button type="button" class="btn btn-success mb-3" id="add-answer">Add answer</button>

{{ dump(form.answers) }}
{{ form_row(form.answers) }}

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<br>