<!DOCTYPE html>
<html xmlns="" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Artem Oliynyk">

    <title>{{ app_name }} - {% block title %}{% endblock %}</title>

    {% block style %}
        {{ encore_entry_link_tags('app') }}
    {% endblock style %}
</head>
<body>
<header class="mb-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url('index') }}">{{ app_name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav mr-auto text-right">
                    <li class="nav-item">
                        <a class="nav-link {{ active_url('index') }}" href="{{ url('index') }}">{% trans %}Home{% endtrans %}</a>
                    </li>
                </ul>


                {% if is_granted("ROLE_ADMIN") %}
                    <ul class="navbar-nav float-right admin-menu">
                        <li class="nav-item">
                            <a class="nav-link {{ active_url('question_index') }}" href="{{ url('question_index') }}">{% trans %}Manage Questions{% endtrans %}</a>
                        </li>
                    </ul>
                {% endif %}
                <ul class="navbar-nav float-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="nav-item {{ active_url('fos_user_profile_edit') }}">
                            <a class="nav-link" href="{{ path('fos_user_profile_edit') }}">
                                <i class="fa fa-user"></i> {{ app.user.firstname }}</a>
                        </li>
                        <li class="nav-item nav-link">|</li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out-alt"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                                <i class="fa fa-sign-out-alt"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_registration_register') }}">
                                <i class="fa fa-user-plus"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container">
    {% include 'inc/flash.html.twig' %}
    {% block body %}{% endblock %}
</main>

<footer class="footer mt-4">
    <div class="container">
        <span class="text-muted"><a href="https://artemoliynyk.com/">Artem Oliynyk</a> &copy;  Copyright {{ "now"|date("Y") }}</span>
    </div>
</footer>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
