{% block _question_answer_collection_row %}

    {{ form_errors(form) }}
    <div id="question_answers" class="col-md-6" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
        {% for answer in form %}
            {{ form_row(answer) }}
        {% endfor %}
    </div>

{% endblock %}

{% block _question_answer_collection_entry_row %}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endblock %}

{% block _question_answer_collection_entry_widget %}
    <div class="card mb-5">
        <div class="card-header">
            Answer
            <button class="answer-remove btn btn-sm btn-danger float-right" type="button">Remove</button>
        </div>
        <div class="card-body">
            {{ form_row(form.answerText) }}
            {{ form_row(form.weight) }}
        </div>
    </div>
{% endblock %}

{% block _response_page_responses_row %}
    {% for response in form %}
        {{ form_row(response) }}
    {% endfor %}
{% endblock %}

{% block _response_page_responses_entry_row %}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endblock %}

{% block _response_page_responses_entry_widget %}
    <div class="card mb-5">
        <div class="card-body">
            <h5 class="card-title">
                {{ form.vars.data.question.questionText }}
            </h5>

            {{ form_widget(form.answer) }}
        </div>
    </div>
{% endblock %}
